<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/stylesheets/home.css">
    <title></title>
  </head>
  <body>
      <h1><strong>Welcome to our Appointment Page</strong></h1>
      <img src="https://images.unsplash.com/photo-1532938911079-1b06ac7ceec7?ixlib=rb-1.2.1&auto=format&fit=crop&w=2978&q=80">





  </body>

</html>
